﻿body {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: #f5f5f5;
}

form {
    background-color: white;
    padding: 2.5rem 3.5rem;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 2px 6px rgba(0,0,0,1);
    text-shadow: 1px 1px 5px rgba(0,0,0,.2);
    font-family: roboto;
    font-size: 20px;
}

form h2 {
    text-align: center;
    user-select: none;
    font-weight: 600;
}

form input {
    display: block;
    max-width: 500px;
    margin: 40px auto;
    border: none;
    border-bottom: 1px solid dodgerblue;
    outline: none;
}

.input-group {
    position: relative;
    margin: .5rem 0;
}

form label {
    position: absolute;
    left: 0;
    top: -5px;
}

input:focus + label, input:valid + label, input:hover +label {
   top: -30px;
   left: -5px;
   transition: 200ms ease-in-out;
}

input + label {
    transition: 200ms ease-in-out;
}

#btn {
    width: 100%;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: 200ms ease;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
}

#btn:hover {
    transition: 400ms;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
