﻿html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: italic;
    vertical-align: baseline;
}

body {
    background: url(../icon/background.png) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

h2.a {
    font-size: 50px;
    color: rgb(173, 196, 150);
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.B {
    background: rgba(0,0,0,.5);
    width: 400px;
    height: 450;
    margin: 200px 100px 400px 650px;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px chartreuse;
}

h1 {
    font-size: 50px;
    color: rgb(104, 196, 13);
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    opacity: 1;
}

.B p {
    margin: 40px;
    padding: 0;
    font-weight: bold;
    color: #a6af13;
}

;
.B input {
    margin-bottom: 20px;
}

input.login :hover {
    background-color: greenyellow;
}

input#uname, input#password1 {
    width: 300px;
    height: 50px;
    padding: 0 15px;
    color: white;
    font-size: 17px;
    font-weight: 200;
    background-color: transparent;
    border-bottom: 5px solid forestgreen;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto 20px;
    display: block;
    outline: none;
    opacity: 1;
}

    input#uname:focus {
        border-bottom: 5px solid greenyellow;
    }

    input#password1:focus {
        border-bottom: 5px solid greenyellow;
    }
button.login {
    width: 335px;
    margin: 30px auto;
    display: block;
    height: 50px;
    text-align: center;
    font-size: 17px;
    font-weight: normal;
    color: #fff;
    background-color: rgb(15, 15, 14,.5);
    border-color: transparent;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    opacity: 1;
}

    button.login:hover {
        background-color: #39b067;
    }

.B a {
    color: hotpink;
    margin: 40px
}
