/*----------------------------------------------Home---------------------------------------------*/
body {
    height: 100vh;
    overflow-y: auto;
    margin: 0;
    font-size: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.h100 {
    height: 100%;
}

.logohutech {
    position: absolute;
    width: 57px;
    height: auto;
    top: 10px;
}

/*.page-wrap{
    padding-top: 20px;
}*/

.page-content {
    padding: 20px;
}

.fontsize_list_menu {
    font-size: larger;
    color: black;
    text-decoration: none !important;
    padding-bottom: 3px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
}

    .fontsize_list_menu::after {
        content: '';
        height: 3px;
        width: 0;
        background: black;
        display: block;
        /* nhớ set auto  */
        margin: auto;
        transition: width .3s;
    }

    .fontsize_list_menu:hover::after {
        width: 100%;
    }

.listcolor {
    background-color: rgb(14, 147, 224);
}

.backgroundcolorheader {
    background-color: rgb(230, 230, 230);
    /* background-color: rgb(2, 159, 250); */
}

.iconavatar {
    width: 50px;
    height: 50px;
    position: relative;
}

/*-------------------------------------------------------------QLSV--------------------------------------------------*/

.boderQLSV {
    border: black solid 1px;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
    text-align: center;
}




form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 85%;
    background: #f1f1f1;
    margin-top: 10px;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 15%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    margin-top: 10px;
}

    form.example button:hover {
        background: #0b7dda;
    }

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}

.btn {
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 15px;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    margin-top: 3px;
    margin-left: 10px;
}

    .btn:hover {
        background: #0b7dda;
    }

.bodernone {
    border: none;
}

.remove_boder {
    border-top: none;
    border-left: none;
    border-right: none;
}

.menupading {
    padding-top: 20px;
    padding-left: unset;
}


.iconadd {
    float: left;
    margin-top: 5px;
}



.Custom_checkbox {
    width: 30px;
    height: 30px;
}

.add_SV {
    width: 20%;
    margin-top: 10px;
}

.w100 {
    width: 100%;
}

.w25 {
    width: 25%;
}

.w10 {
    width: 10%;
}

.w60px {
    width: 60px;
}

.marbot5 {
    margin-bottom: 5px;
}

.martop5 {
    margin-top: 5px;
}

.martop10 {
    margin-top: 10px;
}

.martop20 {
    margin-top: 20px;
}

.padleft {
    padding-left: 20px;
}

.marleft10 {
    margin-left: 10px;
}

.marleft30 {
    margin-left: 30px;
}

.mar10 {
    margin: 10px;
}

.btnCancel {
    background-color: rgb(226, 87, 82);
    width: 100px;
}

.btnSave {
    background-color: rgb(45, 174, 224);
    width: 100px;
    margin-left: 50px;
}



.w35 {
    width: 35%;
}

.w70px{
    width: 70px;
}

.float_r {
    float: right;
}

.float_l {
    float: left;
}

.text_align_center{
    text-align:center;
}


.footer {
    background-color: blue;
}

/* ***Màu gradien menu ************************************* */
.gradmenu {
    height: 100%;
    background-color: blue; /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(2, 159, 250), rgb(245, 246, 247)); /* Standard syntax (must be last) */
}


/*********** icon thanh menu**************************************/

.iconmenu {
    width: 40px;
    height: 40px;
}


/********** Home scroll ****************************/
.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

#navbar {
    overflow: hidden;
    background-color: rgb(106, 134, 136);
}

    #navbar a {
        float: left;
        display: block;
        color: #000000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        #navbar a:hover {
            background-color: #ddd;
            color: black;
        }


.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + .content {
        padding-top: 60px;
    }
